/* João Farias © 2024 BeyondMagic <beyondmagic@mail.ru> */

html,
body
{
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	--shadow: #00000066;

	>.editor {
		min-width: 40vw;
		max-width: 55vw;
		max-height: 80vh;
		padding: 1rem 1.25rem;

		box-shadow: 0 0 1rem var(--shadow);

		border-width: 0.2rem;
		border-color: var(--shadow);
		border-style: solid;
		border-radius: 0.5rem;

		>.line {
			background-color: #00000011;
			line-break: strict;
			word-break: break-all;
			word-wrap: break-word;

			&:focus {
				outline: none;
			}
		}
	}
}
