// João F. © BeyondMagic 2022 <koetemagie@gmail.com>

@import './configuration/fonts.scss';
@import './configuration/colours.scss';
@import './configuration/animations.scss';
@import './configuration/ui.scss';

* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

html > body {

  min-height: 100vh;

  font-family: $default-font;

  background-color: $bg;

}

::selection {

  background-color: $bg;
  color: $fg;

}
