// João F. © BeyondMagic 2022 <koetemagie@gmail.com>

// #. Wonderful fonts for interface.
@import './modules/fonts';

// #. Colours for everyone.
@import './modules/colours';

// #. Animations (keyframes).
@import './modules/keyframes';

// 1. Main template of the page.
@import './modules/PageSetter';

// #. For NotificationServer.
// I. z-index: 89-90.
@import './modules/NotificationServer';

// #. For ContextMenu.
// I. z-index: 91-99.
@import './modules/ContextMenu';

// #. For WhiteBoard.
@import './modules/WhiteBoard';

// 3. The cursor effects and selection.
@import './modules/alilas_selection';

// 3. ConfigPage.
// I. z-index: 100-110.
@import './modules/configuration_page';

// 3. ToolTip
// I. z-index: 120-130.
@import './modules/ToolTip';

// #. Main for writing and reading.
@import './modules/main';

* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;

}

body {

  //background-color: #E0E0E0;

}
