// João F. © BeyondMagic 2022 <koetemagie@gmail.com>

// #. Colours for everyone.
@import './modules/colours';

// #. Animations (keyframes).
@import './modules/keyframes';

// 3. The cursor effects and selection.
@import './modules/cursor';

// #. Main template of the page.
@import './modules/page';

// #. Main for writing and reading.
@import './modules/main';


* {

  margin: 0;
  padding: 0;

  box-sizing: border-box;

}
