$bg: #F6F5EF;
$fg: black;

$bg-ligher: white;
$bg-shadow: $fg;

body {

  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;

  display: grid;

  grid-template-columns: 0.5fr 2fr 0.4fr;
  grid-template-rows: 1fr 0.05fr;
  gap: 0px 0px; 
  grid-template-areas:
    "left-side-bar text-body right-side-bar"
    "bottom-bar bottom-bar bottom-bar";
}

* {

  box-sizing: border-box;

}

.left-side-bar  { grid-area: left-side-bar;  }
.right-side-bar { grid-area: right-side-bar; }
.bottom-bar     { grid-area: bottom-bar;     }
.text           { grid-area: text-body;      }

.left-side-bar {

  background-color: red;

}

.right-side-bar {

  background-color: green;

}

.bottom-bar {

  background-color: blue;

}

.main {

  padding: 0.4rem 0.9rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;

  .writing {

    background-color: $bg-ligher;
    box-shadow: 1px 1px 4px rgba($bg-shadow, 0.3);

    position: relative;

    font-size: 1.25rem;

    .text-container {

      width: 100%;
      height: 100%;

      //border: 1px solid;
      //border-radius: 0.25rem;

      padding: 0.3rem 0.6rem;

      transition: all 300ms ease-in-out;

      line-height: 2rem;
      font-family: 'Noto Sans CJK JP'; // Mysans
      font-weight: 500;
      //font-family: 'Mysans';
      //letter-spacing: 2px;

      &:empty {

        content: attr(placeholder);

        &:not(:focus)::before {

          color: grey;
          font-style: italic;

        }

        &:focus::before {

          color: grey;
          font-style: bolder;

        }

      }

      &.inactive {

        //border-color: rgba($fg, 0.1);

        background-color: rgba($fg, 0.01);
        color: rgba($fg, 0.7);

      }

      &.active {

        color: rgba($fg, 0.75);
        background-color: rgba($fg, 0.02);

        caret-color: red; // Color of the chracter's name.

        //border-color: rgba($fg, 0.2);

        outline: none;

      }

    }

    .information {

      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: center;


      padding: 0.25rem 0.5rem;


      .counter {

        padding: 0.1rem 0.4rem;

        border-radius: 0.25rem;

        box-shadow: 1px 1px 4px rgba($bg-shadow, 0.3);
        background-color: rgba($bg, 0.85);

        font-weight: 400;
        font-size: 0.8rem;

        transition: all 500ms ease-in-out;

        span {

          padding-right: 0.25rem;
          font-weight: 700;

        }

        &:hover {

          background-color: transparent;
          color: rgba($fg, 0.85);
          box-shadow: none;

        }

      }

    }

  }

}
