$bg: #ffffff;
$fg: black;
$bg-ligher: white;
$bg-shadow: $fg;

$writing-new: #D451AD;
$html-caret-color: transparent;
$cursor-color: $writing-new;
$text-insert-color: $writing-new;

$default-font: 'Nylas-Pro', 'Helvetica', sans-serif;

$neutralino-color: #F89901;
$notification-color: #2AADFF;


$page-header-height: 2.5rem;


$border-layout-colour: rgba($fg, 0.175);
$border-layout: 0 0 0.75rem $border-layout-colour;
