// 1. For the "Form" component, can be anywhere.
body .form {

  // #. For the 'button' member function.
  &.button {

    // #. Clean all webkit styles.
    -webkit-appearance: none;

    // 1. For the type checkbox (square).
    &.checkbox {

      background-color: rgba($bg, 0.025);

      box-shadow: 0 0 0.25rem rgba($border-layout-colour, 0.5);

      border-radius: 0.125rem;

      width: 0.9rem;
      height: 0.9rem;


    }

    // 2. For the type radio (square).
    &.radio {

    }

  }

}
