body {

  >.notification-container {

    $urgent: #FC566A;
    $normal: #5CDA93;
    $low: #4F91FF;
    $width: 25rem;
    $icon-container-size: 1.5rem;
    $icon-size: 1.25rem;

    @mixin pseudo_bg( $color ) {
      &::before {
        background-color: $color;
      }
    }

    position: absolute;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    >.notification {

      position: relative;
      right: 0;

      background-color: rgba($bg, 0.05);

      border-radius: 0.25rem;

      min-width: $width;
      max-width: $width;

      overflow-wrap: break-all;
      hyphens: auto;
      outline: none;
      word-break: break-word;
      white-space: pre-wrap;

      font-family: $defaut-font;

      display: grid;
      grid-template-columns: 6rem 1fr 4rem $icon-container-size;
      grid-template-rows: 2rem 1fr 2rem;
      gap: 0px 0px;
      grid-template-areas:
        "icon title date header"
        "icon body body header"
        "icon buttons buttons header";

      //-webkit-user-select: none;

      box-shadow: 4px 4px 1rem rgba($fg, 0.3);

      padding: 0.5rem 1rem;

      background-color: $bg;

      transition-property: right;
      transition-duration: 300ms;
      transition-timing-function: linear;

      &.remove {

        right: -($width + 2rem);

      }

      >.date {

        grid-area: date;

        display: flex;
        justify-content: center;
        align-items: center;

        color: rgba($fg, 0.5);
        font-weight: 300;
        font-size: 0.9rem;

      }

      >.icon-container {

        grid-area: icon;

        display: flex;
        justify-content: center;
        align-items: center;

        >.icon-box {

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: rgba($fg, 0.2);

          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;

          >.icon {

            width: 2rem;
            height: 2rem;

            fill: $fg;

          }

          // #. List here the names for icons given the notification <data.icon.name>.
          &.neutralino {

            background-color: rgba($neutralino-color, 0.2);

            >.icon {

              fill: $neutralino-color;

            }

          }

        }

      }

      >.title {

        display: flex;
        align-items: center;
        gap: 0.5rem;

        grid-area: title;

        background-color: rgba($fg, 0.01);

        >.name {

          font-weight: bold;
          color: rgba($fg, 0.8);

        }

      }

      >.header {

        grid-area: header;

        display: flex;
        align-items: center;
        justify-content: center;

        display: flex;
        flex-direction: row-reverse;

        >.button {

          width: $icon-container-size;
          height: $icon-container-size;

          font-weight: bolder;

          text-align: center;

          border-radius: 100%;

          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {

            background-color: rgba($urgent, 0.2);

            >.close {

              fill: $urgent;

            }

          }

          >.close {

            width: $icon-size;
            height: $icon-size;
            fill: $fg;

          }

        }

      }

      >.body {

        grid-area: body;

        user-select: none;

        color: rgba($fg, 0.65);

      }

      >.buttons {

        grid-area: buttons;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;


        >.button {

          padding: 0.2rem 1.1rem;
          cursor: pointer;

          border-radius: 3px;

          display: flex;
          justify-content: center;
          gap: 0.5rem;
          align-items: center;

          $animation: 150ms ease-in-out;

          transition: background-color $animation;

          >.icon {

            width: 1rem;
            height: 1rem;

            transition: fill $animation;

          }

          >.name {

            transition: color $animation;
            text-transform: uppercase;

            font-size: 0.9rem;
            font-weight: 500;

          }

          &.accept {

            $color: mix(black, $normal, 15%);

            >.name { color: $color; }
            >.icon { fill: $color; }

            &:hover {

              $color: mix(black, $normal, 15%);

              >.name { color: $bg; }
              >.icon { fill: $bg; }

            }

          }

          &.alternate {

            >.name { color: mix(black, rgba($fg, 0.01), 15%); }

          }

        }

      }

      &:hover {

        &::before {

          width: 0.2rem;
          left: -0.85rem

        }

      }

      &::before {

        content: '';

        height: 100%;
        width: 0.1rem;

        position: absolute;
        left: -0.8rem;
        top: 0;


        transition-property: width, left;
        transition-duration: 100ms;
        transition-timing-function: linear;

      }

      &.urgent { @include pseudo_bg($urgent) }
      &.normal { @include pseudo_bg($normal) }
      &.low { @include pseudo_bg($low) }

    }

  }

}

