body {

  >.notification-page {

    $width: 28rem;

    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 9;

    height: calc(100% - $page-header-height * 1.25);
    width: 28rem;

    border-radius: 0.5rem;

    box-shadow: $border-layout;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 1fr;
    grid-template-areas:
      'subheader'
      'notification-list';

    font-family: $default-font;

    background-color: $bg;

    padding: 1rem 1.5rem;

    &.hidden {

      right: -$width;

    }

    >.subheader {

      grid-area: subheader;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'tabs header buttons';

      >.header {

        grid-area: header;

        display: flex;
        align-items: center;
        flex-direction: row;

        >.label {

          font-family: $default-font;
          font-size: 1.15rem;
          font-weight: 600;
          color: rgba($fg, 0.8);

        }

      }

      >.tabs {

        grid-area: tabs;


        display: flex;
        align-items: end;
        justify-content: left;
        flex-direction: row;

        >.tab {

          padding: 0.25rem 0.75rem;
          padding-left: 0;

          cursor: pointer;

          color: rgba($fg, 0.3);

          font-size: 0.8rem;

          &.hidden {

            display: none;

          }

          &.active {

            color: $fg;

            >.counter {
              color: rgba($bg, 0.9);
              background-color: rgba($fg, 0.75);

            }

          }

          &:hover:not(.active) {

            color: rgba($fg, 0.5);

            >.counter { 

              color: rgba($bg, 0.8);
              background-color: rgba($fg, 0.5);

            }

          }

          >.counter {

            color: rgba($bg, 0.6);
            background-color: rgba($fg, 0.3);

            margin-left: 0.35rem;
            padding: 0 0.3rem;

            font-weight: 600;
            font-size: 0.8rem;
            border-radius: 0.25rem;

            transition: opacity 100ms linear;

            &.hidden {

              opacity: 0;
              color: transparent;

            }

          }

        }

      }

      >.buttons {

        grid-area: buttons;

        //background-color: pink;

        display: flex;
        align-items: end;
        justify-content: end;

        >.button {

          width: 2rem;
          height: 2rem;

          cursor: pointer;

          position: relative;

          &:hover {

            >svg {

              fill: rgba($fg, 0.5);

            }

          }

          >svg {

            width: 1.5rem;
            height: 1.5rem;

            fill: rgba($fg, 0.3);

          }

        }

      }

    }

    >.notification-list {

      grid-area: notification-list;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: end;
      gap: 0.5rem;

      padding-top: 0.75rem;

      overflow-y: scroll;
      overflow-x: hidden;

      >.notification {

        $urgent: #FC566A;
        $normal: #5CDA93;
        $low: #4F91FF;
        $width: 25rem;
        $icon-container-size: 1rem;
        $icon-size: 0.85rem;

        // #. Special colours for the types, like `urgent`, `low`, `normal`.
        @mixin pseudo_bg( $color ) {

          >.icon-container >.icon-box::before {

            background-color: $color;

          }

        }

        position: relative;
        right: 0;

        margin: 0;
        box-shadow: none;

        background-color: rgba($bg, 0.05);

        min-width: $width;
        max-width: $width;

        overflow-wrap: break-all;
        hyphens: auto;
        outline: none;
        word-break: break-word;
        white-space: pre-wrap;

        font-family: $default-font;

        display: grid;
        grid-template-columns: auto 1fr 7rem $icon-container-size;
        grid-template-rows: 1rem auto 1fr;
        gap: 0.1rem 0.75rem;
        grid-template-areas:
          "icon title title header"
          "icon date date tags"
          "empty body body body";

        //-webkit-user-select: none;

        //box-shadow: 4px 4px 1rem rgba($fg, 0.3);

        padding: 0 1rem;

        transition-property: right;
        transition-duration: 100ms;
        transition-timing-function: linear;

        border-bottom: 1px solid rgba($fg, 0.05);

        &.urgent { @include pseudo_bg($urgent) }
        &.normal { @include pseudo_bg($normal) }
        &.low { @include pseudo_bg($low) }

        &.hidden {

          display: none;

        }

        &.remove {

          right: -($width + 2rem)!important;

        }

        &.new,
        &:hover {

          right: 15px;

          &::before {

            width: 0.2rem;
            left: -0.85rem

          }

          &:not(.new) >.header {

            width: 1.5rem;

          }

        }

        >.date {

          grid-area: date;

          color: rgba($fg, 0.5);
          font-weight: 300;
          font-size: 0.9rem;

        }

        >.icon-container {

          grid-area: icon;

          display: flex;
          justify-content: center;
          align-items: top;

          >.icon-box {

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: rgba($fg, 0.25);

            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.5rem;

            position: relative;

            // #. A little ball on the right bottom to show which type notification it is.
            &::before {

              content: '';

              height: 0.6rem;
              width: 0.6rem;

              position: absolute;
              right: -0.1rem;
              bottom: -0.1rem;

              border-radius: 50%;

              border: 0.125rem solid $bg;

            }

            >.icon {

              width: 1.75rem;
              height: 1.75rem;

              fill: $fg;

            }

            // #. List here the names for icons given the notification <data.icon.name>.
            &.neutralino {

              background-color: rgba($neutralino-color, 0.2);

              >.icon {

                fill: $neutralino-color;

              }

            }

            &.notification_server {

              background-color: rgba($notification-color, 0.2);

              >.icon {

                fill: $notification-color;

              }

            }

          }

        }

        >.title {

          display: flex;
          gap: 0.5rem;

          grid-area: title;

          background-color: rgba($fg, 0.01);

          >.name {

            color: $fg;

            font-weight: 400;

            >b {

              font-weight: 600;

            }

          }

        }

        >.header {

          grid-area: header;

          display: flex;
          align-items: top;
          justify-content: center;
          flex-direction: row-reverse;

          width: 0;

          transition: width 100ms linear;

          overflow: hidden;

          >.button {

            width: $icon-container-size;
            height: $icon-container-size;

            font-weight: bolder;

            text-align: center;

            border-radius: 100%;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {

              background-color: rgba($urgent, 0.2);

              >.close {

                fill: $urgent;

              }

            }

            >.close {

              width: $icon-size;
              height: $icon-size;
              fill: rgba($fg, 0.4);

            }

          }

        }

        >.body {

          grid-area: body;

          display: flex;
          flex-direction: column;

          $transition: 100ms linear;

          >.text {

            color: rgba($fg, 0.65);

          }


          >.more-container {

            display: flex;
            justify-content: center;
            align-items: center;

            padding-top: 0.2rem;

            >.expand-more {

              fill: rgba($fg, 0.75);

              width: 1rem;
              height: 1rem;

              cursor: pointer;

              &:hover {

                fill: $low;

              }

              &.clicked {

                display: none;

              }

            }

          }

          >.more {

            color: rgba($fg, 0.6);

            font-size: 0.9rem;

            padding-top: 0.5rem;

            &.hidden {

              overflow: hidden;
              padding-top: 0;
              height: 0;

            }

          }

          >.buttons {

            grid-area: buttons;

            display: flex;
            align-items: end;
            justify-content: center;
            gap: 0.5rem;

            >.button {

              padding: 0.2rem 1.1rem;
              cursor: pointer;

              border-radius: 3px;

              display: flex;
              justify-content: center;
              gap: 0.5rem;
              align-items: center;

              $animation: 150ms ease-in-out;

              transition: background-color $animation;

              >.icon {

                width: 1rem;
                height: 1rem;

                transition: fill $animation;

              }

              >.name {

                transition: color $animation;
                text-transform: uppercase;

                font-size: 0.9rem;
                font-weight: 500;

              }

              &.accept {

                $color: mix(black, $normal, 15%);

                >.name { color: $color; }
                >.icon { fill: $color; }

                &:hover {

                  $color: mix(black, $normal, 15%);

                  >.name { color: $bg; }
                  >.icon { fill: $bg; }

                }

              }

              &.alternate {

                >.name { color: mix(black, rgba($fg, 0.6), 15%); }

              }

            }

          }

        }

      }

    }

  }

}

