body {

  $bar-top-height: 2rem;

  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;

  display: grid;


  grid-template-columns: 0.02fr 1fr 0.02fr;
  grid-template-rows: $bar-top-height 1fr 0.02fr;
  gap: 0px 0px; 
  grid-template-areas:
    "top-bar top-bar top-bar"
    "left-side-bar text-body right-side-bar"
    "bottom-bar bottom-bar bottom-bar";

  overflow: hidden;

  .left-side-bar, .right-side-bar, .bottom-bar, .top-bar, .main {

    position: relative;

  }

  .left-side-bar {

    grid-area: left-side-bar;
    //background-color: red;

  }

  .right-side-bar {

    grid-area: right-side-bar;
    //background-color: green;

  }

  .bottom-bar {

    grid-area: bottom-bar;
    //background-color: blue;

  }

  .top-bar {

    grid-area: top-bar;

    box-shadow: $border-layout;

    user-select: none;
    -webkit-user-select: none;

    >.icon-container {

      height: $bar-top-height;
      width: $bar-top-height;

      $box-size: $bar-top-height - 0.25rem;

      display: flex;
      align-items: center;
      justify-content: center;

      >.icon-box {

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        height: $box-size;
        width: $box-size;

        $icon-size: $box-size - 0.5rem;

        cursor: pointer;

        $transition: 100ms ease-in-out;

        position: relative;

        transition: background-color $transition;

        >.icon {

          transition: fill $transition;
          fill: rgba($fg, 0.6);

          width: $icon-size;
          height: $icon-size;

        }

        &.notification {

          $color: #1978AA;
          $unread: $color;

          >.counter {

            position: absolute;
            top: 0.1rem;
            right: 0.1rem;

            font-size: 0.5rem;
            font-weight: 700;

            color: $unread;

            opacity: 0;

            transition: opacity $transition;

          }

          // When there are unread notifications.
          &.unread {

            //background-color: rgba($unread, 0.05);

            >.counter {

              opacity: 1;

            }

            >.icon {

              fill: $unread;

            }

          }

          &.active,
          &:hover {

            background-color: rgba($color, 0.05);

            >.icon {

              fill: $color;

            }

          }

          &:active {

            background-color: rgba($color, 0.15);

            >.icon {

              fill: $color;

            }

          }

        }

      }

    }

  }

  .main {

    grid-area: text-body;
    //background-color: red;

  }


}
