&.body.home
{

  display: grid;
  grid-template-columns: 0.5fr 2fr 6fr;

  --special-background: transparent;
  --special-colour: $fg;

  >.section:not(.bg)
  {

    position: relative;
    z-index: 2;

  }

  >.menu
  {

    backdrop-filter: blur($blur-px);
    -webkit-backdrop-filter: blur($blur-px);

    display: flex;
    justify-content: center;
    align-items: end;

    padding: 0.5rem 1rem;

    >.photo
    {

      width: 4rem; height: 4rem;
      background-image: url('/img/photo.gif');
      background-size: cover;
      background-position: center;

      border: 0.25rem solid $bg;
      border-radius: 50%;

      cursor: pointer;

    }

  }

  >.main
  {

    background-color: $bg;
    //background-image: url('/img/photo.gif');

    display: grid;
    grid-template-rows: 0.08fr 1fr;

    position: relative;

    ::selection
    {
      background-color: var(--special-background);
    }

    >.header {

      background-color: lighten($bg, 2%);
      color: $fg;


      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      padding: 0.5rem 1rem;

      >.section
      {

        &.logo
        {

          >svg
          {
            width: 75%; height: 75%;
            fill: $fg;

            padding-right: 0.5rem;
            border-right: 2px solid transparentize($fg, 0.75);

          }


        }
        &.title
        {
          >.div
          {
            color: transparentize($fg, 0.25);
            font-size: 0.9rem;
          }
        }

        &.information
        {
          >.add
          {
            padding-left: 0.25rem;
            font-weight: bolder;
            cursor: pointer;

            transition: color 100ms ease-in-out;

            &:hover
            {
              color: var(--special-background);
            }
          }
        }
      }

    }

    >.bottom_bar
    {

      position: absolute;
      bottom: 0; left: 0;

      width: 100%; height: 2.5rem;


      display: grid;
      grid-template-columns: 1fr 0.2fr;


      background-color: transparentize($bg, 0.75);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      >.bar
      {

        >.search
        {

          background-color: transparentize($bg, 0.9);
          color: $fg;

          padding: 0.25rem 1rem;
          outline: none;

          width: 13rem;
          height: 1.4rem;
          overflow-x: scroll;
          overflow-y: hidden;

          border-radius: 0.75rem;

          word-wrap: normal;
          white-space: nowrap;

        }

      }

      >.search
      {

        >svg
        {
          width: 50%; height: 50%;
          fill: transparentize($fg, 0.5);
          cursor: pointer;

          &:hover
          {

            fill: var(--special-background);
          }
        }
        
      }
    }

  }

  >.bg
  {

    position: absolute;
    z-index: 1;

    width: 100vw;
    height: 100vh;

    // -- State of this.
    &:not(.ready)
    {

      background-size: 300% 300%;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 1rem, gray 0.75rem, gray 2.75rem);
      animation: rainbow 50s ease infinite;
    }

    &.ready
    {

      background-size: cover;
      background-position: center;

    }

  }

  >.parade
  {

    display: grid;
    grid-template-rows: 0.1fr 1.5fr 0.1fr;
    grid-template-columns: 0.1fr 1.5fr 0.1fr;
    grid-template-areas: 'top top top' 'left center right' 'bottom bottom bottom';

    // -- Elements.
    >.center
    {

      grid-area: center;

      >.label
      {

        position: relative;

        color: var(--special-colour);
        padding: 0 1.25rem;

        &::before
        {
          content: '';
          position: absolute;

          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);

          border-radius: 1rem;
          opacity: 0.5;

          width: 100%;
          height: 100%;

          left: 50%;
          transform: translateX(-50%);

          z-index: -1;

        }

      }

    }

    >.status
    {

      grid-area: bottom;

      display: flex;
      justify-content: right;
      align-items: center;

      padding: 0 1.5rem;

      >.words
      {

        position: relative;

        padding: 0 1.25rem;
        color: var(--special-colour);

        &::before
        {
          content: '';
          position: absolute;

          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);

          border-radius: 1rem;
          opacity: 0.5;

          width: 100%;
          height: 100%;

          left: 50%;
          transform: translateX(-50%);

          z-index: -1;

        }

      }
    }

  }

}
