&.round
{

  border-radius: 0.5rem;

}

&.center-absolute
{

  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;


}

&.center-flex
{

  display: flex;
  align-items: center;
  justify-content: center;

}

&.shadow {

  box-shadow: 0 0 0.5rem black;

}
