&.input
{

  &.radio
  {

    -webkit-appearance: none;
    appearance: none;

    border: 2px solid black;
    width: 14px;
    height: 14px;

    border-radius: 1rem;


    background-color: blue;

    &:checked
    {

      background-color: red;

    }

  }

}

&.button
{

  border-radius: 0;

  padding: 0.618rem 1rem;
  font-weight: 400;

  border: none;

  &:hover
  {

    cursor: pointer;

  }

  &.neutral
  {

    background-color: $fg;
    color: $bg;

  }

}

&.h1, &.h2, &.h3, &.h4, &.h5, &.h6,
&.p
{

  &.h1
  {

    font-weight: 100;
    font-size: 3rem;

  }


}
