<!DOCTYPE html>
<html>

  <head>

    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self'">


    <link rel="stylesheet" href="style-sheet/style.css">

    <script defer type="module" src="./renderer/main.js"></script>

    <title>WhiteDove</title>

  </head>

  <body>

    <!-- 1. Where the text will be seen. -->
    <section class="main"></section>

    <!-- 2. Left side-bar to show content headers. -->
    <nav class="left-side-bar">
      <section id="perfil">
        <div class="photo">
          <img src="../data/profile/image/Putin.gif" alt="Profile Picture">
        </div>
        <div class="name">
          <span>J. Farias 🕊️</span>
        </div>
        <div class="nickname">
          <span>@koetemagie</span>
        </div>
        <div class="menu">
          <span>···</span>
        </div>
      </section>
    </nav>

    <!-- 3. Right sdie-bar to show editors of text. -->
    <nav class="right-side-bar">
      right
    </nav>

    <!-- 4. Bottom side-bar to show pointers of text. -->
    <section class="bottom-bar">
      bottom
    </section>

  </body>

</html>
